<video class="preview" autoplay width="1280" height="720"></video>
<div class="controls">
  <div class="row">
    <button id="button-red" class="red" data-input="red"></button>
    <label for="button-red">Red</label>
  </div>
  <div class="row">
    <button id="button-green" class="green" data-input="green"></button>
    <label for="button-green">Green</label>
  </div>
  <div class="row">
    <button id="button-blue" class="blue" data-input="blue"></button>
    <label for="button-blue">Blue</label>
  </div>
  <div class="row state"></div>
</div>
