<div class="monitor">
  <video class="preview" autoplay muted width="{{width}}" height="{{height}}"></video>
  <video class="review" autoplay loop width="{{width}}" height="{{height}}"></video>
</div>
<div class="controls">
  <div class="row">
    <button id="button-red" class="red" data-input="red"></button>
    <label for="button-red">Red</label>
  </div>
  <div class="row">
    <button id="button-green" class="green" data-input="green"></button>
    <label for="button-green">Green</label>
  </div>
  <div class="row">
    <button id="button-blue" class="blue" data-input="blue"></button>
    <label for="button-blue">Blue</label>
  </div>
  <div class="row state"></div>
</div>
