<div class="monitor">
  <video class="preview" autoplay muted width="{{width}}" height="{{height}}"></video>
  <video class="review" autoplay loop width="{{width}}" height="{{height}}"></video>
</div>
<div class="buttons">
  <div class="red">
    <input id="button-red" type="image" src="/i/256x256/red.png" data-input="red">
    <label for="button-red">Red</label>
  </div>
  <div class="green">
    <input id="button-green" type="image" src="/i/256x256/green.png" data-input="green">
    <label for="button-green">Green</label>
  </div>
  <div class="blue">
    <input id="button-blue" type="image" src="/i/256x256/blue.png" data-input="blue">
    <label for="button-blue">Blue</label>
  </div>
</div>
