<video class="preview" autoplay width="1280" height="720"></video>
<div class="controls">
  <button class="start"></button>
  <button class="stop"></button>
  <button class="red" data-input="red"></button>
  <button class="green" data-input="green"></button>
  <button class="blue" data-input="blue"></button>
  <span class="state"></span>
</div>
